img {
    width: 200px;
}

body {
    background: yellow;
    color: white;
}

.classes {
    display: flex;
    justify-content: space-between;

}

P {
    color: black;
}

h1 {
    color: black;
}

h2 {
    color: black;
}